@import "tailwindcss";
@import "./styles.css" layer(components);

@theme inline {
  --color-bg: var(--color-bg);
  --color-text: var(--color-text);
  --color-accent: var(--color-accent);
  --color-divider: var(--color-divider);
  --color-neutral-600: var(--color-neutral-600);

  --font-heading: var(--font-heading);

  --leading-1.05: 1.05;
}

body {
  font-variant-numeric: tabular-nums;
}
